<div id="login">
    <form action="/auth/login" method="POST">

        <label for="email"></label>
        <input id="email" class="input" type="text" name="email" placeholder="email" />

        <label for="password"></label>
        <input id="password" class="input" type="password" name="password"  placeholder="password" />

        <button type="submit" class="submitbtn">Login</button>

        {{#if errorMessage}}
        <p>{{errorMessage}}</p>
        {{/if}}
    </form>
</div>