<div>
    <h2>Signup</h2>
    <form action="/auth/signup" method="POST">

        <label for="fullName">Full Name</label>
        <input id="fullName" type="text" name="fullName" />

        <label for="userName">User</label>
        <input id="userName" type="text" name="userName" />

        <label for="email">Email</label>
        <input id="email" type="text" name="email" />

        <label for="password">Password</label>
        <input id="password" type="password" name="password" />


        <button type="submit">Signup</button>

        {{#if errorMessage}}
        <p>{{errorMessage}}</p>
        {{/if}}
    </form>
</div>