<div id="signup">

    <form action="/auth/signup" method="POST">
        <h2>Signup</h2>
        <label for="fullName">Full Name</label>
        <input id="fullName" class="input" type="text" name="fullName" />

        <label for="userName">User</label>
        <input id="userName" class="input" type="text" name="userName" />

        <label for="email">Email</label>
        <input id="email" class="input"  type="text" name="email" />

        <label for="password">Password</label>
        <input id="password" class="input" type="password" name="password" />


        <button type="submit" class="submitbtn">Signup</button>

        {{#if errorMessage}}
        <p>{{errorMessage}}</p>
        {{/if}}
    </form>
</div>