<h2>All Books</h2>

{{#each books}}

    <a href="/books/details/{{_id}}">
        <p>{{title}} added by: {{owner.fullName}}</p>   
        <img src="{{imageUrl}}" alt="book">
    </a>
    <hr>

{{/each}}