body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(234, 82, 0, 0.689);
}

a {
  color: #1f6d8c;
  font-size: large;
  text-decoration: none;
  font-weight: bolder;
}
nav {
  width: 70vw;
  display: flex;
  justify-content: space-between;
}

img {
  height: 30vh
}